.changer {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
  overflow: hidden;
}

.toggler {
  padding: 0.4em 0.8em;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: border 300ms ease-in;
}

.toggler:hover {
  cursor: pointer;
}

.sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.left,
.right {
  width: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid white;
}

.left:hover,
.right:hover {
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

@media screen and (max-width: 960px) {
  .changer {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 2em;
  }
}

.visible {
  opacity: 1;
  pointer-events: auto;
  transform: none;
}

.chosen {
  border: 1px solid white;
}
